
body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
.product{
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
#One{
    margin-right: 80px;

}